{{- define "main" }}
    <h1>{{ .Title }}</h1>
    <h4>{{ .Params.description }}</h4>

    {{- if isset .Params "date" }}
    <p class="author-date">{{ printf `<time datetime="%s">%s</time>` (.Date.Format "2006-01-02T15:04:05Z07:00") (.Date.Format "January 2, 2006") | safeHTML }}</p>
    {{- end }}

    {{- /* Mobile overlay TOC is handled globally; remove inline TOC block */ -}}

    {{- if not (.Param "disableAnchoredHeadings") }}

{{ partial "anchored_headings.html" .Content }}

    {{- else }}

{{ .Content }}

    {{- end }}

    {{- /* Article Navigation */ -}}
    {{- $prev := .PrevInSection -}}
    {{- $next := .NextInSection -}}
    {{- if or $prev $next }}
    <div class="article-navigation">
        {{- if $prev }}
        <a href="{{ $prev.Permalink }}" class="nav-button prev-button" title="上一篇: {{ $prev.Title }}">
            <div class="nav-image">
                <img src="{{ "images/navigation/left-image.png" | relURL }}" alt="上一篇" />
            </div>
        </a>
        {{- else }}
        <div class="nav-button disabled"></div>
        {{- end }}
        
        {{- if $next }}
        <a href="{{ $next.Permalink }}" class="nav-button next-button" title="下一篇: {{ $next.Title }}">
            <div class="nav-image">
                <img src="{{ "images/navigation/right-image.png" | relURL }}" alt="下一篇" />
            </div>
        </a>
        {{- else }}
        <div class="nav-button disabled"></div>
        {{- end }}
    </div>
    {{- end }}
{{- end }}
