{{- define "main" }}
{{- $isProtected := .Params.password }}
{{- if $isProtected }}
{{- partial "password-gate.html" . -}}
<div id="protected-content" style="display:none;">
    {{- end }}

    {{- partial "breadcrumbs.html" . -}}
    <h1>{{ .Title }}</h1>
    {{- if .Content }}
    <div class="section-description">
        {{ .Content }}
    </div>
    {{- end }}

    {{- if .Pages }}
    <section class="posts-list">
        {{- $pages := where .Pages "Params.hiddenFromList" "ne" true -}}
        {{- range $pages }}
        <article class="post-item">
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{- if .Params.description }}
            <p class="post-description">{{ .Params.description }}</p>
            {{- end }}
            {{- if .Date }}
            <p class="post-date">
                <time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">
                    {{ .Date.Format "January 2, 2006" }}
                </time>
                <span> · {{ .ReadingTime }} 分钟</span>
            </p>
            {{- end }}
        </article>
        {{- end }}
    </section>
    {{- else }}
    <p>暂无文章。</p>
    {{- end }}

    {{- if $isProtected }}
</div> <!-- Close protected-content -->
{{- end }}
{{- end }}