{{ with site.Params.author.email }}
<meta name="email" content="{{ . }}">
{{ end }}
{{ with site.Params.author.twitter }}
<meta name="twitter" content="{{ . }}">
{{ end }}

{{ if site.Params.googleAnalytics }}
<!-- Google Analytics 4 -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.Params.googleAnalytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.Params.googleAnalytics }}');
</script>
{{ end }}
